   h4 {
    margin-bottom: 0px; /* Отрицательный отступ между заголовком и текстом */
    text-align: center;
   }
   a {
   	text-indent: 20px;
   }
.image_recipe {
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
	height: 300px;
	width: 500px;
	border-radius:10px;
	-webkit-border-radius:6px;
	-moz-border-radius:5px;
	-khtml-border-radius:10px;
	border: 4px double #FAD201;
	margin: 6px 6px 6px 6px;
}
.image_recipe_mini {
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  height: 80px;
  width: 80px;
  border-radius:10px;
  -webkit-border-radius:6px;
  -moz-border-radius:5px;
  -khtml-border-radius:10px;
  margin: 15px 10px 15px 10px;
}
.subtitle {
	margin-left: 10px;
	font-size: 12px;
	opacity: 0.6;
	margin-right: 10px; 
}
.icon_mini {
  height: 20px;
  width: 20px;
}
#contents {
	margin-left: 10px;
}
#recipe {
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  text-align: left;
  width: 700px;
  height: 110px;
  background: linear-gradient(to top, rgba(199,166,0,0.5) ,rgba(255,229,97,0.5) );
  color: #E60000;
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
  border-radius:10px;
  -webkit-border-radius:6px;
  -moz-border-radius:5px;
  -khtml-border-radius:10px;
}
#table_recipe {
  width: 600px;
}